.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.inputField{

    border-bottom: 1px solid black;
    margin: 10px 0;

}
.btn{
    background-color: rgb(44, 50, 164);
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-weight: 600;
    width: 220px;
    
}

.message{
    color: red;
    font-weight: 500;
    padding: 10px 0;
}